<div class='justify-content-center'>
      <div class='w-100' id='youtube-player'>
            <youtube-player
                  [height]="height"
                  [width]='width'
                  (ready)="playerReady($event)"
                  (change)="onStateChange($event)">
            </youtube-player>
      </div>
      <div class='w-100'>
            <h4>{{song.title}}</h4> 
            <h6>by</h6>
            <h5>{{song.artist}}</h5>
            <h6>in the {{song.playlist_id}} playlist</h6>
            <h6>ID: # {{song.id}}</h6>
      </div>
</div>
