<div class='row justify-content-center'>
      <div class='row col-md-6'>
            <div class='col-md-6' id='youtube-player'>
                  <youtube-player
                        [videoId]="id"
                        (ready)="savePlayer($event)"
                        (change)="onStateChange($event)">
                  </youtube-player>
            </div>
            <div class='col-md-6'>
                  <h2>{{title}}</h2>
                  <h3>{{artist}}</h3>
                  something
            </div>
      </div>
</div>
